@font-face {
  font-family: samurai-font;
  src: url(../fonts/FunnySamurai.otf) format('opentype');
}

@font-face {
  font-family: sakurata;
  src: url(../fonts/Sakurata-DOGnE.otf) format('opentype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
    --D-border: white;
    --D-neon-color: rgb(0, 0, 255);
    --D-inner-highlight: inset 0 0 2em #4b7a8d;
    --D-highlight: 0 0 2em #4b7a8d;
    --D-highlight-hover: 0 0 4em #4b7a8d;
    --D-text-highlight: 1px 1px 1px red, 0 0 1em blue, 0 0 0.2em #4b7a8d;
}

/* If display-P3 is supported in the current browser */
@supports (color: color(display-p3 1 1 1)) {
    :root {
        --D-neon-color: color(display-p3 1 0 1);
    }
}

@media (prefers-color-scheme:dark) {
    :root {
        --D-border: white;
        --D-neon-color: rgb(183, 0, 255);
        --D-inner-highlight: inset 0 0 2em #764b8d;
        --D-highlight: 0 0 2em #764b8d;
        --D-highlight-hover: 0 0 4em #764b8d;
        --D-text-highlight: 1px 1px 1px red, 0 0 1em purple, 0 0 0.2em #764b8d;
    }
}

@font-face {
    font-family: Street Tahoma;
    src: url(/fonts/HIROSHT.TTF);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #01262F;
  background-image: url("../assets/bg-empty.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  position: relative;
  background-image: url("../assets/bg-empty.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  aspect-ratio: 16/10;
  margin: 0 auto;
}

.bram,
.dave,
.melvin {
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bram {
  left: 49%;
  top: 24%;
}

.dave {
    position: relative;
    left: 28%;
    top: 17%;
}

body > main > .bram {
    display: grid;
    place-items: center;
    left: 49.5%;
    top: 24%;
    width: 24%;
    height: 20%;
    animation: boxFlicker 1.5s infinite alternate;
    transition: .3s ease-in-out;
    border-radius: .5em;
    box-shadow: 0 0 0.1vw  0.2vw hsl(310, 91%, 47%), 0 0 1.5vw  0.2vw hsl(311, 91%, 47%);
}

body > main > .bram > span {
    font-size: 3em;
    font-family: samurai-font, sans-serif;
    letter-spacing: 0.1em;
    animation: textFlicker 1.5s infinite alternate;
    text-transform: uppercase;
    color: hsl(0, 0%, 92%);
    text-shadow: 
    .1vw 0vw .25vw hsl(315, 100%, 92%), .2vw 0vw .25vw hsl(315, 100%, 92%), .4vw 0vw .25vw hsl(315, 100%, 92%), 

      .1vw 0vw   0vw hsl(302, 87%, 65%), .2vw 0vw   0vw hsl(302, 87%, 65%), .4vw 0vw   0vw hsl(302, 87%, 65%),
      .1vw 0vw  .1vw hsl(308, 87%, 65%), .2vw 0vw  .1vw hsl(308, 87%, 65%), .4vw 0vw  .1vw hsl(308, 87%, 65%),
      .1vw 0vw   2vw hsl(309, 87%, 65%), .2vw 0vw   2vw hsl(309, 87%, 65%), .4vw 0vw   2vw hsl(309, 87%, 65%), 

      .1vw 0vw   1vw hsl(309, 91%, 47%), .2vw 0vw   1vw hsl(309, 91%, 47%), .4vw 0vw   5vw hsl(309, 91%, 47%), 
      .1vw 0vw   5vw hsl(311, 91%, 47%), .2vw 0vw  20vw hsl(311, 91%, 47%), .4vw 0vw  10vw hsl(311, 91%, 47%),
      .1vw 0vw  10vw hsl(319, 91%, 47%), .2vw 0vw  30vw hsl(319, 91%, 47%), .4vw 0vw  10vw hsl(319, 91%, 47%);
}

body > main > .bram:hover {
  animation: none;
  box-shadow: 0 0 0.1vw  0.2vw hsl(117, 91%, 47%), 0 0 1.5vw  0.2vw hsl(124, 91%, 47%);
}

body > main > .bram:hover span {
  animation: none;
  text-shadow: 
  .1vw 0vw .25vw hsl(119, 100%, 92%), .2vw 0vw .25vw hsl(117, 100%, 92%), .4vw 0vw .25vw hsl(117, 100%, 92%), 

  .1vw 0vw   0vw hsl(126, 86%, 65%), .2vw 0vw   0vw hsl(126, 86%, 65%), .4vw 0vw   0vw hsl(126, 86%, 65%),
  .1vw 0vw  .1vw hsl(118, 86%, 65%), .2vw 0vw  .1vw hsl(118, 86%, 65%), .4vw 0vw  .1vw hsl(118, 86%, 65%),
  .1vw 0vw   2vw hsl(116, 86%, 65%), .2vw 0vw   2vw hsl(116, 86%, 65%), .4vw 0vw   2vw hsl(116, 86%, 65%), 

  .1vw 0vw   1vw hsl(126, 91%, 47%), .2vw 0vw   1vw hsl(125, 91%, 47%), .4vw 0vw   5vw hsl(140, 91%, 47%), 
  .1vw 0vw   5vw hsl(124, 91%, 47%), .2vw 0vw  20vw hsl(121, 91%, 47%), .4vw 0vw  10vw hsl(130, 91%, 47%),
  .1vw 0vw  10vw hsl(122, 91%, 47%), .2vw 0vw  30vw hsl(118, 91%, 47%), .4vw 0vw  10vw hsl(119, 91%, 47%);
}

@keyframes textFlicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 1vw hsl(308, 87%, 65%),
        0 0 1vw hsl(307, 87%, 65%),
        0 0 1vw hsl(310, 87%, 65%),
        0 0 4vw hsl(314, 87%, 65%),
        0 0 8vw hsl(309, 87%, 65%),
        0 0 9vw hsl(311, 87%, 65%),
        0 0 10vw hsl(314, 87%, 65%),
        0 0 15vw hsl(308, 87%, 65%);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.melvin {
  --glow-color: hsl(120, 61%, 50%);
  mix-blend-mode: screen;

  color: var(--glow-color);
  --box-shadow: 0 0 .125rem #fff,
  inset 0 0 .25rem #fff,
  0 0 .5rem currentColor,
  inset 0 0 .5rem currentColor,
  0 0 1rem currentColor,
  inset 0 0 1rem currentColor;

  display: grid;
  place-items: center;

  top: 49%;
  left: 64%;
  width: 23%;
  height: 15%;

  font-family: 'Sakurata', cursive;
  letter-spacing: .2em;
  font-size: 2vw;
  text-transform: uppercase;

  cursor: pointer;
  border-radius: 6px;

  box-shadow: var(--box-shadow);
  animation-name: rotateHue;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  user-select: none;
}

#melvin:checked + .melvin {
  animation: none;
  box-shadow:
      0 0 0rem #fff,
      inset 0 0 .05rem #fff,
      0 0 .125rem black,
      inset 0 0 .125rem black,
      0 0 .25rem black,
      inset 0 0 .25rem black;
  color: black;
  mix-blend-mode: color-burn;
}

#melvin {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.melvin:hover {
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-direction: alternate;
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  19% {
    filter: hue-rotate(69deg);
    box-shadow: var(--box-shadow);
    color: var(--glow-color);
  }
  20% {
    box-shadow: none;
    color: black;
  }
  21% {
    box-shadow: var(--box-shadow);
    color: var(--glow-color);
    filter: hue-rotate(76deg);
  }
  22% {
    filter: hue-rotate(80deg);
    box-shadow: var(--box-shadow);
    color: var(--glow-color);
  }
  23% {
    box-shadow: none;
    color: white;
  }
  24% {
    box-shadow: var(--box-shadow);
    color: var(--glow-color);
    filter: hue-rotate(87deg);
  }
  54% {
    filter: hue-rotate(195deg);
    box-shadow: var(--box-shadow);
    color: var(--glow-color);
  }
  55% {
    box-shadow: none;
    color: white;
  }
  56% {
    filter: hue-rotate(202deg);
    box-shadow: var(--box-shadow);
    color: var(--glow-color);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* https://css-tricks.com/how-to-create-neon-text-with-css/ */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    color: var(--glow-color);
    box-shadow:
        0 0 .0625rem #fff,
        inset 0 0 .125rem #fff,
        0 0 .25rem var(--glow-color),
        inset 0 0 .25rem var(--glow-color),
        0 0 .5rem var(--glow-color),
        inset 0 0 .5rem var(--glow-color);
  }
  20%, 24%, 55% {
    box-shadow: none;
    color: black;
  }
}

.dave {
    display: grid;
    place-items: center;
    width: 14%;
    height: 35%;
    padding: 1.3em 1.3em;
    box-shadow: var(--D-highlight);
    border: .1em solid var(--D-border);
    border-radius: .5em;
}

.dave:hover {
    box-shadow: var(--D-highlight-hover), var(--D-inner-highlight);
    animation: D-flicker 1.5s infinite alternate;
}

.dave:hover p {
    animation: none;
}

.dave p {
    font-family: Street Tahoma;
    font-size: 2.2em;
    text-align: center;
    color: var(--D-neon-color);    
    text-shadow: var(--D-text-highlight); 
    text-orientation: upright;
    writing-mode: vertical-rl;
    animation: rotateHue 3s infinite;
}

@keyframes rotateHue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes D-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {  
        box-shadow:
            0 0 .5em #fff,
            inset 0 0 .5em #fff,
            0 0 2em var(--D-neon-color),
            inset 0 0 2em var(--D-neon-color),
            0 0 4em var(--D-neon-color),
            inset 0 0 4em var(--D-neon-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

@keyframes boxFlicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    box-shadow: 0 0 0.1vw  0.2vw hsl(131, 91%, 47%), 0 0 1.5vw  0.2vw hsl(131, 91%, 47%);
  }

  20%, 24%, 55% {
    box-shadow: none;
  }
}