@font-face {
  font-family: samurai-font;
  src: url(../fonts/FunnySamurai.otf) format('opentype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #01262F;
}

main {
  position: relative;
  background-image: url("../assets/bg-empty.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  aspect-ratio: 16/10;
  margin: 0 auto;
}

.bram,
.dave,
.melvin {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bram {
  left: 49%;
  top: 24%;
}

.dave {
  left: 28%;
  top: 16%;
}

.melvin {
  top: 49.5%;
  left: 63.5%;
}

body > main > .bram {
    display: grid;
    place-items: center;
    left: 49.5%;
    top: 24%;
    width: 24%;
    height: 20%;
    animation: boxFlicker 1.5s infinite alternate;
    border-radius: 1em;
    box-shadow: 0 0 0.1vw  0.4vw hsl(131, 91%, 47%), 0 0 1.5vw  0.4vw hsl(131, 91%, 47%);
}

body > main > .bram > span {
    font-size: 3em;
    font-family: samurai-font, sans-serif;
    letter-spacing: 0.1em;
    animation: textFlicker 1.5s infinite alternate;
    text-transform: uppercase;
    color: hsl(0, 0%, 92%);
    text-shadow: 
        .1vw 0vw .25vw hsl(115, 100%, 92%), .2vw 0vw .25vw hsl(115, 100%, 92%), .4vw 0vw .25vw hsl(115, 100%, 92%), 

        .1vw 0vw   0vw hsl(126, 86%, 65%), .2vw 0vw   0vw hsl(126, 86%, 65%), .4vw 0vw   0vw hsl(126, 86%, 65%),
        .1vw 0vw  .1vw hsl(118, 86%, 65%), .2vw 0vw  .1vw hsl(118, 86%, 65%), .4vw 0vw  .1vw hsl(118, 86%, 65%),
        .1vw 0vw   2vw hsl(116, 86%, 65%), .2vw 0vw   2vw hsl(116, 86%, 65%), .4vw 0vw   2vw hsl(116, 86%, 65%), 

        .1vw 0vw   1vw hsl(131, 91%, 47%), .2vw 0vw   1vw hsl(131, 91%, 47%), .4vw 0vw   5vw hsl(131, 91%, 47%), 
        .1vw 0vw   5vw hsl(113, 91%, 47%), .2vw 0vw  20vw hsl(113, 91%, 47%), .4vw 0vw  10vw hsl(113, 91%, 47%),
        .1vw 0vw  10vw hsl(106, 91%, 47%), .2vw 0vw  30vw hsl(106, 91%, 47%), .4vw 0vw  10vw hsl(106, 91%, 47%);
}

@keyframes textFlicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 1em hsl(115, 100%, 92%),
        0 0 2em hsl(115, 100%, 92%),
        0 0 19px hsl(115, 100%, 92%),
        0 0 40px hsl(126, 86%, 65%),
        0 0 80px hsl(126, 86%, 65%),
        0 0 90px hsl(126, 86%, 65%),
        0 0 100px hsl(126, 86%, 65%),
        0 0 150px hsl(126, 86%, 65%);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
